{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
    <h2>Edit Student</h2>

    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">{{ msg }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.dob) }}
        {{ form_row(form.gender) }}
        <button class="btn btn-success">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary mt-3">← Back to Dashboard</a>
{% endblock %}
