{% extends 'base.html.twig' %}

{% block title %}Admin Register{% endblock %}

{% block body %}
<h2>Register as Admin</h2>

{% for msg in app.flashes('success') %}
    <div class="alert alert-success">{{ msg }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button class="btn btn-primary">Register</button>
{{ form_end(form) }}

<a href="{{ path('admin_login') }}" class="btn btn-link mt-3">Already have an account? Login</a>
{% endblock %}
